@using Chirp.Core.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

<div class="navigation">
        @if(SignInManager.IsSignedIn(User))
        {
            <div>
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <a href="/@User.Identity.Name">my timeline</a> |
                <a href="/">public timeline</a> |
                <a ...>logout [@(User.Identity.Name)]</a>
            </div>
        } else {
            <a href="/">public timeline</a> 
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">register</a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">login</a>
        }
</div>