name: .NET Build & Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore Chirp.Razor.sln

      - name: Build solution
        run: dotnet build Chirp.Razor.sln --configuration Release --no-restore
        
      - name: Install Playwright CLI
        run: dotnet tool install --global Microsoft.Playwright.CLI

      - name: Install Playwright browsers
        run: playwright install --with-deps

      # Run ONLY unit + integration tests
      - name: Run unit and integration tests (no Playwright in CI)
        run: |
          dotnet test test/UnitTest/Chirp.Core.Tests/Chirp.Core.Tests.csproj --configuration Release --no-restore
          dotnet test test/UnitTest/Chirp.Infrastructure.Tests/Chirp.Infrastructure.Tests.csproj --configuration Release --no-restore
          dotnet test test/IntegrationTest/Chirp.InfrastructureTests/Chirp.InfrastructureTests.csproj --configuration Release --no-restore
          dotnet test test/IntegrationTest/Chirp.Web.IntegrationTests/Chirp.Web.IntegrationTests.csproj --configuration Release --no-restore
         # dotnet test test/UnitTest/Chirp.Web.Tests/Chirp.Web.Tests.csproj --configuration Release --no-restore
